@page
@model BankAdministration.Pages.Account.AccountModel
@{
}
<section class="card py-5">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-around p-3 mb-3">
            <div class="row">
                <div class="col-md-4">

                    <p>Kontonummer: @Model.AccountId</p>
                    <p>Saldo: @Model.Balance</p>
                    <p>Skapat: @Model.Created</p>
                    <p>Frekvens: @Model.Frequency</p>
                </div>
            </div>
        </div>
    </div>
</section>