@page
@using Microsoft.EntityFrameworkCore.Metadata.Conventions
@model IndexModel
@{
    ViewData["Title"] = "Konton";
}



<div class="card">
    <div class="card-header">
        <h1>Alla konton</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Kontonummer</th>
                <th>Saldo</th>
            </tr>
            @foreach (var person in Model.Account)
            {
                <tr>
                    <td>@person.AccountNo</td>
                    <td>@person.Balance</td>
                </tr>
            }
        </table>

    </div>
</div>