@page
@model BankAdministration.Pages.BankAccount.TransferModel
@{
}

<h1>Från kontot: </h1>
<h1>till kontonummer:
    <form method="post">
        <input asp-for=@Model.ToAccount/>
        <input asp-for=@Model.Amount />
        <input type="submit" value="Överför" />
    </form>
    

</h1>