@page
@model BankAdministration.Pages.BankAccount.WithdrawModel
@{
}

<section class="card py-5">
    <div class="container-fluid">
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Amount">Ange beloppet som vill tas ut</label>
                    <input class="form-control" asp-for="Amount" />
                    <span class="field-validation-error" asp-validation-for="Amount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type">Typ</label>
                    <select asp-for="Type" asp-items="@Model.AccountTypes">
                    </select><br />
                    <span asp-validation-for="Type" class="field-validation-error"></span>
                </div>
                <button type="submit" class="btn btn-primary">Ta ut</button>
            </form>
        </div>
    </div>
</section>