@page
@model BankAdministration.Pages.BankAccount.WithdrawModel
@{
}

<section class="card py-5">
    <div class="container-fluid">
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Amount">Belopp</label>
                    <input class="form-control" asp-for="Amount" />
                    <span class="field-validation-error" asp-validation-for="Amount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type">Kontotyp</label>
                    <input class="form-control" asp-for="Type" />
                    <span class="field-validation-error" asp-validation-for="Type"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Operation">Operation</label>
                    <input class="form-control" asp-for="Operation" />
                    <span class="field-validation-error" asp-validation-for="Operation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bank">Bank</label>
                    <input class="form-control" asp-for="Bank" />
                    <span class="field-validation-error" asp-validation-for="Bank"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Balance">Saldo</label>
                    <input class="form-control" asp-for="Balance" />
                    <span class="field-validation-error" asp-validation-for="Balance"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Symbol">Symbol</label>
                    <input class="form-control" asp-for="Symbol" />
                    <span class="field-validation-error" asp-validation-for="Symbol"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Account">Kontonummer</label>
                    <input class="form-control" asp-for="Account" />
                    <span class="field-validation-error" asp-validation-for="Account"></span>
                </div>
                <button type="submit" class="btn">Ta ut</button>
            </form>
        </div>
    </div>
</section>