@page
@model BankAdministration.Pages.User.UserIndexModel
@{
}

<div class="card">
    <div class="card-header">
        <h1>Alla AnvändarListan</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Användarnamn</th>
                <th>Användarroll</th>
            </tr>
            @*@foreach (var person in Model)
            {
                <tr>
                    <td>@person.AccountNo</td>
                    <td>@person.Balance</td>
                </tr>
            }*@
        </table>
        

    </div>
</div>